[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/Ivorforce/godot-cpp
	branch = ndk-version-4.3
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "xtl"]
	path = xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "xsimd"]
	path = xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "docs/godot-docs"]
	path = docs/godot-docs
	url = https://github.com/godotengine/godot-docs.git
[submodule "xtensor-signal"]
	path = xtensor-signal
	url = https://github.com/xtensor-stack/xtensor-signal.git
