[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "xtl"]
	path = xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "xsimd"]
	path = xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "docs/godot-docs"]
	path = docs/godot-docs
	url = https://github.com/godotengine/godot-docs.git
[submodule "xtensor-signal"]
	path = xtensor-signal
	url = https://github.com/xtensor-stack/xtensor-signal.git
[submodule "tests/array-api-tests"]
	path = tests/array-api-tests
	url = https://github.com/data-apis/array-api-tests.git
